@import url(https://fonts.googleapis.com/css?family=Anton:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Gilda+Display:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400&display=swap);





body {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.7;
}
.display-1 {
  font-family: 'Anton', sans-serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Anton', sans-serif;
  font-size: 0.75rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Indie Flower', handwriting;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Indie Flower', handwriting;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 2px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #b22222 !important;
}
.bg-success {
  background-color: #92bda3 !important;
}
.bg-info {
  background-color: #709faf !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #b22222 !important;
  border-color: #b22222 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #721616 !important;
  border-color: #721616 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #721616 !important;
  border-color: #721616 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #709faf !important;
  border-color: #709faf !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c7887 !important;
  border-color: #4c7887 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #62a07b !important;
  border-color: #62a07b !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #5c1212 !important;
  color: #5c1212 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #b22222 !important;
  border-color: #b22222 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b22222 !important;
  border-color: #b22222 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #426977 !important;
  color: #426977 !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #709faf !important;
  border-color: #709faf !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #58916f !important;
  color: #58916f !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #92bda3 !important;
  border-color: #92bda3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #b22222 !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #92bda3 !important;
}
.text-info {
  color: #709faf !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #5c1212 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #58916f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #426977 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #709faf;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b22222;
  border-color: #b22222;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #b22222;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e47070;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1ede6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c2d6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Indie Flower', handwriting;
  font-size: 0.9rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #b22222;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #b22222;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #b22222;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #b22222;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #b22222;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.mbr-section-title {
  letter-spacing: 1px;
  margin: 0;
}
.mbr-section-subtitle {
  letter-spacing: 2px;
  margin: 0;
}
.mbr-section-btn .btn {
  font-weight: 700;
}
.mbr-section-btn .btn-sm {
  padding: .3rem 1rem !important;
}
.mbr-section-btn .btn-md {
  padding: .5rem 2rem !important;
}
.mbr-section-btn .btn-lg {
  padding: 1rem 2.2rem !important;
}
.mbr-text {
  letter-spacing: 1px;
}
.mbr-lighter {
  font-weight: 100 !important;
}
body {
  color: #333333;
}
.up-z-index {
  z-index: 1000 !important;
}
.cid-rZvYvA3okG .nav-item:focus,
.cid-rZvYvA3okG .nav-link:focus {
  outline: none;
}
.cid-rZvYvA3okG a.nav-link:focus {
  color: #b22222 !important;
}
.cid-rZvYvA3okG .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
}
.cid-rZvYvA3okG .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-rZvYvA3okG .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-rZvYvA3okG .navbar .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rZvYvA3okG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rZvYvA3okG .navbar.collapsed .navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-rZvYvA3okG .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rZvYvA3okG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-rZvYvA3okG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rZvYvA3okG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rZvYvA3okG .navbar .navbar-collapse {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rZvYvA3okG .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rZvYvA3okG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-rZvYvA3okG .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-rZvYvA3okG .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rZvYvA3okG .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-rZvYvA3okG .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rZvYvA3okG .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rZvYvA3okG .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rZvYvA3okG .navbar-brand .navbar-caption-wrap {
  display: flex;
}
.cid-rZvYvA3okG .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-rZvYvA3okG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rZvYvA3okG .dropdown-item.active,
.cid-rZvYvA3okG .dropdown-item:active {
  background-color: transparent;
}
.cid-rZvYvA3okG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rZvYvA3okG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rZvYvA3okG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rZvYvA3okG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-rZvYvA3okG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-rZvYvA3okG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rZvYvA3okG ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rZvYvA3okG .navbar-buttons {
  text-align: center;
}
.cid-rZvYvA3okG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZvYvA3okG .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rZvYvA3okG a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.cid-rZvYvA3okG .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rZvYvA3okG .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rZvYvA3okG .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-rZvYvA3okG .nav-link:hover,
.cid-rZvYvA3okG .icons-menu .mbr-iconfont:hover {
  color: #b22222 !important;
}
.cid-rZvYvA3okG .dropdown-item:hover {
  color: #878787 !important;
}
.cid-rZvYvA3okG .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #b22222;
  transition: width 0.3s ease-in;
}
.cid-rZvYvA3okG .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-rZvYvA3okG .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-rZvYvA3okG .navbar-expand-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .cid-rZvYvA3okG .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-rZvYvA3okG .dropdown-menu {
    top: 100%;
  }
  .cid-rZvYvA3okG .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-rZvYvA3okG .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-rZvYvA3okG .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-rZvYvA3okG .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-rZvZd5KbsY {
  background-image: url("../../../assets/images/castiglione-1024x768.jpg");
}
.cid-rZvZd5KbsY .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-rZvZd5KbsY .mbr-arrow i {
  color: #b22222 !important;
}
.cid-rZvZd5KbsY .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rZvZd5KbsY .animated-element,
.cid-rZvZd5KbsY .typed-cursor {
  color: #ffffff;
}
.cid-rZvZd5KbsY .animated-element {
  border-bottom: 5px solid #b22222;
}
@media (max-width: 767px) {
  .cid-rZvZd5KbsY .typed-text {
    text-align: center;
  }
}
.cid-rZwy8OsUOn {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rZwy8OsUOn .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZwy8OsUOn .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rZwy8OsUOn .title {
    width: 100% !important;
  }
}
.cid-rZwy9zk6e2 {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rZwyb7QTKX {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rZwyb7QTKX .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-rZwyb7QTKX .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-rZwyb7QTKX .counter-container ol li {
  list-style: none;
}
.cid-rZwyb7QTKX .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  padding-top: 2px;
  padding-left: 1px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #c19b76;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.cid-rZxyqdc6mp {
  background: #ffffff;
}
.cid-rZxyqdc6mp .image-block {
  position: relative;
  margin: auto;
  width: 100% !important;
}
.cid-rZxyqdc6mp .image-block img {
  width: 100%;
}
.cid-rZxyqdc6mp .image-block .img-caption {
  background: #444444;
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.cid-rZxyqdc6mp .image-block .img-caption p {
  margin-bottom: 0;
}
.cid-rZw0rcwGic {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #d8d7d7;
}
.cid-rZw0rcwGic .card .card-img {
  overflow: hidden;
}
.cid-rZw0rcwGic .card .card-img img {
  transition: all .5s;
}
.cid-rZw0rcwGic .card .card-img:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-rZw0rcwGic .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZw0rcwGic .card {
  height: 100%;
}
.cid-rZw0rcwGic .card .card-wrapper {
  height: 100%;
}
.cid-rZw0rcwGic .card .card-wrapper .card-img {
  border-radius: 0;
}
.cid-rZw0rcwGic .card .card-box {
  background: #ffffff;
  padding: 2rem;
}
.cid-rZw0rcwGic .card .card-box .card-title {
  margin: 0;
}
.cid-rZw0rcwGic .card .info-wrapper {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rZw0rcwGic .card .info-wrapper .mbr-iconfont {
  padding-right: .5rem;
  font-size: 20px;
}
.cid-rZw0rcwGic .card .info-wrapper .info-text {
  display: inline-block;
  padding-right: 1rem;
  margin: 0;
}
.cid-rZw0rcwGic .card .card-btn .btn {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.cid-rZw0rcwGic .card .card-footer {
  background: #ffffff;
  margin-top: 1rem;
  padding: 0;
  padding-top: 1rem;
  display: inline-flex;
  width: 100%;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rZw0rcwGic .card .card-footer .icons-list {
  margin: 0;
}
.cid-rZw0rcwGic .card .card-footer .icons-list li {
  margin-right: 1rem;
}
.cid-rZw0rcwGic .card .card-footer .icons-list li .mbr-iconfont {
  font-size: 25px;
  color: #767676;
}
.cid-rZw0rcwGic .card .card-footer .link .link-text {
  display: inline-block;
}
.cid-rZw0rcwGic .card .card-footer .link .mbr-iconfont {
  font-size: 12px;
}
.cid-rZw0rcwGic .card-box {
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 1px 1px;
}
.cid-rZw0rcwGic .card-footer {
  border-top: 1px solid #efefef;
}
@media (max-width: 767px) {
  .cid-rZw0rcwGic .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-rZw0rcwGic .card:not(:last-child) {
    padding-bottom: 2rem;
  }
}
.cid-rZxytHiaxm {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZxytHiaxm .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZxytHiaxm .mbr-section-title,
.cid-rZxytHiaxm .mbr-section-subtitle,
.cid-rZxytHiaxm .underline {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rZxytHiaxm .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-rZxytHiaxm .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rZxytHiaxm .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rZxytHiaxm .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rZxytHiaxm .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #efefef, #c19b76);
}
.cid-rZxytHiaxm .icon-focus {
  display: none;
}
.cid-rZxytHiaxm .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: center;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #ffffff;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-rZxytHiaxm ul {
  font-size: 0;
}
.cid-rZxytHiaxm .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #333333 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-rZxytHiaxm .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-rZxytHiaxm .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #c19b76;
}
.cid-rZxytHiaxm .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-rZxytHiaxm .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-rZxytHiaxm .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-rZxytHiaxm .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-rZxytHiaxm .btn:hover {
  background: transparent !important;
}
.cid-rZxytHiaxm .btn:hover:before {
  background: transparent !important;
}
.cid-rZxytHiaxm .btn:before {
  background-color: transparent !important;
}
.cid-rZxytHiaxm .btn:focus {
  box-shadow: none;
  background: transparent !important;
}
.cid-rZw4vZLjhs {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #b22222;
}
.cid-rZw4vZLjhs .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZw4vZLjhs .card-img {
  overflow: hidden;
  border-radius: 0 !important;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.cid-rZw4vZLjhs .card-img img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-rZw4vZLjhs .card-box {
  background: #ffffff;
  padding: 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rZw4vZLjhs .link {
  letter-spacing: 2px;
}
.cid-rZw4vZLjhs .card.second-card {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media (max-width: 991px) {
  .cid-rZw4vZLjhs .card {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rZw4vZLjhs .card {
    padding-bottom: 2rem;
  }
}
.cid-rZw4vZLjhs .main-title {
  color: #ffffff;
}
.cid-rZw4vZLjhs .main-subtitle,
.cid-rZw4vZLjhs .underline {
  color: #ffffff;
}
.cid-rZw6wVQXUa {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZw6wVQXUa .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZw6wVQXUa .form1 {
  background: #333333;
  padding: 2rem;
  height: 100%;
}
.cid-rZw6wVQXUa .form1 .input-wrap {
  margin-bottom: 1rem;
}
.cid-rZw6wVQXUa .form1 .form-control {
  border: none;
  padding: 1rem;
  background: #000000;
  color: #ffffff;
  width: 100%;
}
.cid-rZw6wVQXUa .form1 .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rZw6wVQXUa .form1 .form-control::-moz-placeholder {
  color: #ffffff;
}
.cid-rZw6wVQXUa .form1 .form-control:-moz-placeholder {
  color: #ffffff;
}
.cid-rZw6wVQXUa .form1 .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.cid-rZw6wVQXUa .form1 .input-group-btn {
  width: 100%;
}
.cid-rZw6wVQXUa .form1 .input-group-btn .btn {
  display: block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-rZw6wVQXUa .form-wrapper {
    padding-top: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-rZw6wVQXUa .form-wrapper {
    padding-top: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-rZw6wVQXUa .form-wrapper {
    margin-left: -130px;
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .cid-rZw6wVQXUa .form1 {
    padding: 1.5rem;
  }
}
.cid-rZw5o82FlM {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rZw5o82FlM .google-map {
  width: 100%;
  height: 25rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-rZw5o82FlM .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-rZw4UjYtjN {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rZw4UjYtjN .mbr-section-subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.cid-rZw4UjYtjN .first-column .mbr-text {
  margin: 0;
}
.cid-rZw4UjYtjN .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-rZw4UjYtjN .icons-wrapper ul li {
  margin-right: 1.25rem;
  display: inline-block;
}
.cid-rZw4UjYtjN .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-rZw4UjYtjN .icons-wrapper ul li .mbr-iconfont:hover {
  color: #b22222;
}
.cid-rZw4UjYtjN .form1 .mbr-form {
  display: -webkit-inline-flex;
  width: 100%;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap {
  width: 55%;
  display: -webkit-flex;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input {
  font-size: .9rem;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: .3rem .5rem;
  background: #000000;
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input::-moz-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input:-moz-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input:-ms-input-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-group-btn .btn-lg {
  padding: 1rem 2.2rem;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-rZw4UjYtjN .first-column,
  .cid-rZw4UjYtjN .second-column {
    padding-bottom: 2rem;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-rZw4UjYtjN .first-column,
  .cid-rZw4UjYtjN .second-column,
  .cid-rZw4UjYtjN .third-column {
    text-align: center;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form .input-group-btn .btn-lg {
    padding: .6rem 1rem !important;
  }
}
.cid-rZvYvA3okG .nav-item:focus,
.cid-rZvYvA3okG .nav-link:focus {
  outline: none;
}
.cid-rZvYvA3okG a.nav-link:focus {
  color: #b22222 !important;
}
.cid-rZvYvA3okG .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
}
.cid-rZvYvA3okG .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-rZvYvA3okG .navbar .dropdown-item {
  padding: .3rem 1.5rem;
}
.cid-rZvYvA3okG .navbar .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rZvYvA3okG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rZvYvA3okG .navbar.collapsed .navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-rZvYvA3okG .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rZvYvA3okG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rZvYvA3okG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .15rem 1.5rem;
  text-align: center;
}
.cid-rZvYvA3okG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rZvYvA3okG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rZvYvA3okG .navbar .navbar-collapse {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rZvYvA3okG .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rZvYvA3okG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rZvYvA3okG .navbar .dropdown-menu .dropdown-item {
    padding: .15rem 1.5rem;
    text-align: center;
  }
  .cid-rZvYvA3okG .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-rZvYvA3okG .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rZvYvA3okG .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-rZvYvA3okG .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rZvYvA3okG .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rZvYvA3okG .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rZvYvA3okG .navbar-brand .navbar-caption-wrap {
  display: flex;
}
.cid-rZvYvA3okG .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-rZvYvA3okG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rZvYvA3okG .dropdown-item.active,
.cid-rZvYvA3okG .dropdown-item:active {
  background-color: transparent;
}
.cid-rZvYvA3okG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rZvYvA3okG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rZvYvA3okG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rZvYvA3okG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-rZvYvA3okG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-rZvYvA3okG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rZvYvA3okG ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rZvYvA3okG .navbar-buttons {
  text-align: center;
}
.cid-rZvYvA3okG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rZvYvA3okG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rZvYvA3okG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rZvYvA3okG .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rZvYvA3okG a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.cid-rZvYvA3okG .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rZvYvA3okG .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rZvYvA3okG .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
.cid-rZvYvA3okG .nav-link:hover,
.cid-rZvYvA3okG .icons-menu .mbr-iconfont:hover {
  color: #b22222 !important;
}
.cid-rZvYvA3okG .dropdown-item:hover {
  color: #878787 !important;
}
.cid-rZvYvA3okG .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #b22222;
  transition: width 0.3s ease-in;
}
.cid-rZvYvA3okG .dropdown-menu {
  padding: 0;
  transition: top .3s;
}
.cid-rZvYvA3okG .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-rZvYvA3okG .navbar-expand-lg {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  .cid-rZvYvA3okG .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-rZvYvA3okG .dropdown-menu {
    top: 100%;
  }
  .cid-rZvYvA3okG .dropdown-item {
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 0px 2px 5px #ffffff;
    background: #ffffff !important;
  }
  .cid-rZvYvA3okG .dropdown-item:hover {
    background: #e6e6e6 !important;
  }
  .cid-rZvYvA3okG .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-rZvYvA3okG .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-rZJi23ALuh {
  background-image: url("../../../assets/images/mbr-1920x1344.jpg");
}
.cid-rZJi23ALuh .mbr-arrow {
  background: #000000 !important;
  opacity: .7;
}
.cid-rZJi23ALuh .mbr-arrow i {
  color: #ffffff !important;
}
.cid-rZJi23ALuh .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rZJiqLN97d {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rZJiqLN97d .underline .line {
  width: 2rem;
  height: 1px;
  background: #878787;
  display: inline-block;
}
.cid-rZJiqLN97d .mbr-text {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rZJiqLN97d .title {
    width: 100% !important;
  }
}
.cid-rZJipwzSyf {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rZJim5go92 {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rZJim5go92 .card {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rZJim5go92 .card .card-img {
  width: 20%;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rZJim5go92 .card .card-box {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 80%;
  padding-left: 1rem;
}
.cid-rZJim5go92 .card .card-img span {
  color: #878787;
  font-size: 60px;
}
.cid-rZJim5go92 .mbr-text {
  color: #878787;
}
@media (max-width: 767px) {
  .cid-rZJim5go92 .card {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rZJim5go92 .card .card-img {
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .cid-rZJim5go92 .card .card-box {
    width: 100%;
    padding-left: 0;
  }
  .cid-rZJim5go92 .card .card-box .card-title,
  .cid-rZJim5go92 .card .card-box .mbr-text,
  .cid-rZJim5go92 .card .card-box .link {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-rZJim5go92 .card {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cid-rZJim5go92 .card .card-img {
    text-align: right !important;
  }
}
.cid-rZw4UjYtjN {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-rZw4UjYtjN .mbr-section-subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  color: #cccccc;
}
.cid-rZw4UjYtjN .first-column .mbr-text {
  margin: 0;
}
.cid-rZw4UjYtjN .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-rZw4UjYtjN .icons-wrapper ul li {
  margin-right: 1.25rem;
  display: inline-block;
}
.cid-rZw4UjYtjN .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 1.5rem;
}
.cid-rZw4UjYtjN .icons-wrapper ul li .mbr-iconfont:hover {
  color: #b22222;
}
.cid-rZw4UjYtjN .form1 .mbr-form {
  display: -webkit-inline-flex;
  width: 100%;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap {
  width: 55%;
  display: -webkit-flex;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input {
  font-size: .9rem;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: .3rem .5rem;
  background: #000000;
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input::-webkit-input-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input::-moz-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input:-moz-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-wrap input:-ms-input-placeholder {
  color: #d8d7d7;
}
.cid-rZw4UjYtjN .form1 .mbr-form .input-group-btn .btn-lg {
  padding: 1rem 2.2rem;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-rZw4UjYtjN .first-column,
  .cid-rZw4UjYtjN .second-column {
    padding-bottom: 2rem;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-rZw4UjYtjN .first-column,
  .cid-rZw4UjYtjN .second-column,
  .cid-rZw4UjYtjN .third-column {
    text-align: center;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rZw4UjYtjN .form1 .mbr-form .input-group-btn .btn-lg {
    padding: .6rem 1rem !important;
  }
}
